#main{
  margin-top: 10px;
  display: block;
  align-items: left;
  justify-content: center;
  padding: 30px;
  border: 1px solid black;
  text-align: left;
  width: 300px;
  
  background:linear-gradient(pink,rgb(240, 153, 240))
}
 #main 
{
  margin-left: 450px;
 } 

.form div{
  padding:2px;
  align-items: left;
  justify-content: center; 
}

.lable{
  text-align: left;
  font-variant: small-caps;
  
}
input{
  width:300px
}

h1{
  padding: 0px;
  color:rgb(74, 37, 220);
  text-align: left;
  font-variant: small-caps;
  font-family: 'Times New Roman', Times, serif;
}
select
{
  width:304px;
  height:25px;
  padding: 3px;
}
button
{ 
  margin-top: 10px;
  padding: 10px;
  align-items: center;
  width:305px;
  border:1px solid rgb(15, 240, 15);
  background-color: rgb(15, 240, 15);
  border-radius: 33px;
  box-shadow: none;
  color:white;
  
}
button:hover{
  background-color: rgb(133, 236, 44);
  cursor: pointer;
}